[build]
builder = "NIXPACKS"
buildCommand = "npm -w install --frozen-lockfile && npm -C . build"

[deploy]
startCommand = "npm start"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
